<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script src="{% static 'webapp/js/jquery-3.6.0.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

  <title>Index</title>
</head>

<body>
  <div class="container pt-4 text-center">
    {% if user.is_authenticated %}
    <h2 class="mb-4">User profile</h2>
    <div id="wrapper" class="p-2 bg-light rounded border">
      <div class="alert alert-primary">Logged in as <b>{{ user.username }}</b>.</div>
      <a class="btn btn-secondary" role="button" href="/logout">Logout</a>
    </div>
    {% else %}
    <h2 class="mb-4">Index</h2>
    <div id="wrapper" class="p-2 bg-light rounded border">
      Please <a class="btn btn-primary btn-sm" role="button" href="/login">Login</a> or
      <a class="btn btn-secondary btn-sm" role="button" href="/register">Register</a> to access the user panel.
    </div>
    {% endif %}

    {% include 'webapp/includes/messages.html' %}
  </div>
</body>

</html>
