<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script src="{% static 'webapp/js/jquery-3.6.0.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

  <title>Login</title>
</head>

<body>
  <div class="container pt-4 text-center" style="max-width: 320px;">
    <div id="login-result"></div>
  </div>

  <script type="module">
    import { getCredential } from "{% static 'webapp/js/modules/client.js' %}";
    
    if (window.PublicKeyCredential) {
      PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable()
        .then(uvpaa => {
          if (uvpaa) {
            console.log("biometric sensor available");
            $('#login-result').attr('class', 'alert alert-primary').text("Please authenticate with biometrics when prompted.");
            $(document).ready(() => {
              const urlParams = new URLSearchParams(window.location.search);
              $.ajaxSetup({
                headers: {
                  "X-CSRFToken": '{{ csrf_token }}'
                }
              });
              $.ajax({
                url: `{% url 'authenticator:login_request' %}?id=${urlParams.get('id')}`,
                type: "POST",
                processData: false,
                dataType: "json"
              }).then(options => {
                getCredential(options)
                  .then(credential => {
                    $.ajax({
                      url: "{% url 'authenticator:login_response' %}",
                      type: "POST",
                      processData: false,
                      data: "credential="+JSON.stringify(credential)
                    })
                      .then(response => {
                        console.log("login success");
                        $('#login-result').attr('class', 'alert alert-success').text("Login successful, you may close this page and return to desktop.");
                      })
                      .fail(response => {
                        console.error(response);
                        if (response.status === 401){
                          $('#login-result').attr('class', 'alert alert-danger').text("Authenticator could not be validated.");
                        } else {
                          $('#login-result').attr('class', 'alert alert-danger').text(`${response.responseText}`);
                        }
                      });
                  })
                  .catch(error => {
                    console.log(error);
                    $('#login-result').attr('class', 'alert alert-danger').text("The operation either timed out or was not allowed.");
                  });
              })
              .fail(response => {
                console.error(response.responseText);
                $('#login-result').attr('class', 'alert alert-danger').text("Error.");
              });
            });
          } else {
            console.log("biometric sensor not available");
            $('#login-result').attr('class', 'alert alert-danger').text("Biometric sensor not available.");
          }
        });
    } else {
      console.log("webauthn not supported");
      $('#login-result').attr('class', 'alert alert-danger').text("Webauthn not supported.");
    }
  </script>
</body>

</html>
