<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% load static %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <title>Login</title>
</head>

<body>
  <script type="module">
    import { getCredential } from "{% static 'webapp/modules/client.js' %}";
    
    if (window.PublicKeyCredential) {
      PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable()
        .then(uvpaa => {
          if (uvpaa) {
            console.log("biometric sensor available");
          } else {
            // TODO: show error to user
            console.log("biometric sensor not available");
          }
        });
    } else {
      console.log("webauthn not supported");
    }

    $(document).ready(() => {
      const urlParams = new URLSearchParams(window.location.search);
      $.ajaxSetup({
        headers: {
          "X-CSRFToken": '{{ csrf_token }}'
        }
      });
      $.ajax({
        url: `{% url 'authenticator:login_request' %}?id=${urlParams.get('id')}`,
        type: "POST",
        processData: false,
        dataType: "json"
      }).then(options => {
        getCredential(options)
          .then(credential => {
            $.ajax({
              url: "{% url 'authenticator:login_response' %}",
              type: "POST",
              processData: false,
              data: "credential="+JSON.stringify(credential)
            })
              .then(response => {
                console.log("registration success");
              })
              .fail(response => {
                console.error(response);
              });
          });
      })
      .fail(response => {
        if (response.status === 302)
          location.reload();
        else 
          console.error(response.responseText);
      });
    });
  </script>
</body>

</html>
