<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% load static %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <title>Login</title>
</head>

<body>
  <form id="login_form">
    {% csrf_token %}
    <input type="text" name="user_name" value="user1">
    <input type="submit" id="loginBtn" class="btn btn-primary" value="Login with biometrics">
  </form>

  <div><p>Don't have an account? <a href="register">Register here</a>.</p></div>

</body>

</html>
