<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script src="{% static 'webapp/js/jquery-3.6.0.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

  <title>Register</title>
</head>

<body>
  <div class="container pt-4 text-center" style="max-width: 320px;">
    <h2 class="mb-4">Register</h2>
    {% if form %}
    <div id="wrapper">
      <div id="form-wrapper" class="p-2 bg-light rounded border text-start">
        <form id="register_biometrics_form" method="POST">
          {% csrf_token %}
          {{ form }}
          <input type="submit" id="submitBtn" class="btn btn-primary w-100" value="Proceed">
        </form>
      </div>

      {% include 'webapp/includes/messages.html' %}
    </div>
    {% endif %}
    
    <div id="registration-result"></div>
  </div>
</body>

</html>

<script type="module">
  import { createCredential } from "{% static 'webapp/js/modules/client.js' %}";

  if (window.PublicKeyCredential) {
    PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable()
      .then(uvpaa => {
        if (uvpaa) {
          console.log("biometric sensor available");
          $(document).on("submit", "#register_biometrics_form", (e) => {
            e.preventDefault();
            const urlParams = new URLSearchParams(window.location.search);
        
            const $this = $(e.target)
            let post_data = $this.serialize();
            $.ajax({
              url: `{% url 'authenticator:register_request' %}?id=${urlParams.get('id')}`,
              type: "POST",
              processData: false,
              dataType: "json",
              data: post_data
            })
              .done(options => {
                createCredential(options)
                  .then(credential => {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    $.ajax({
                      url: "{% url 'authenticator:register_response' %}",
                      type: "POST",
                      headers: {'X-CSRFToken': csrftoken},
                      processData: false,
                      data: "credential="+JSON.stringify(credential)
                    })
                      .then(response => {
                        console.log("registration success");
                        $('#wrapper').hide();
                        $('#registration-result').attr('class', 'alert alert-success').text("Registration successful, you may close this page and return to desktop.");
                      })
                      .fail(response => {
                        console.error(response);
                        $('#registration-result').attr('class', 'mt-3 text-start alert alert-danger').text(`${response.responseText}`);
                      });
                  })
                  .catch(error => {
                    console.log(error);
                    $('#messages').remove();
                    console.log(error);
                    const $rr = $('#registration-result');
                    $rr.attr('class', 'mt-3 text-start alert alert-danger').text(error);
                    if (error.name === "NotSupportedError") {
                      $rr.text($rr.text()+" Please try a different browser.");
                    }
                  });
              })
              .fail(response => {
                location.reload();
                console.error(response.responseText);
              });
          });
        } else {
          console.log("biometric sensor not available");
          $('#wrapper').remove();
          $('#registration-result').attr('class', 'mt-3 text-start alert alert-danger').text("Biometric sensor not available.");
        }
      });
  } else {
    console.log("webauthn not supported");
  }
</script>