<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% load static %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <title>Register</title>
</head>

<body>
  <form id="register_biometrics_form">
    {% csrf_token %}
    <label for="password">Type the password chosen during registration</label>
    <input type="password" name="password">
    <input type="submit" id="submitBtn" class="btn btn-primary" value="Proceed">
  </form>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

</body>

</html>

<script type="module">
  import { registerCredential } from "{% static 'webapp/modules/client.js' %}";

  if (window.PublicKeyCredential) {
    PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable()
      .then(uvpaa => {
        if (uvpaa) {
          console.log("biometric sensor available");
        } else {
          // TODO: show error to user
          console.log("biometric sensor not available");
        }
      });
  } else {
    console.log("webauthn not supported");
  }

  $(document).on("submit", "#register_biometrics_form", (e) => {
    e.preventDefault();
    const urlParams = new URLSearchParams(window.location.search);

    const $this = $(e.target)
    let post_data = $this.serialize();
    $.ajax({
      url: `{% url 'authenticator:register_request' %}?id=${urlParams.get('id')}`,
      type: "POST",
      processData: false,
      dataType: "json",
      data: post_data
    })
      .done(options => {
        registerCredential(options)
          .then(credential => {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
              url: "{% url 'authenticator:register_response' %}",
              type: "POST",
              headers: {'X-CSRFToken': csrftoken},
              processData: false,
              data: "credential="+JSON.stringify(credential)
            })
              .then(response => {
                console.log("registration success");
              })
              .fail(response => {
                console.error(response);
              });
          });
      })
      .fail(response => {
        if (response.status === 302)
          location.reload();
        else 
          console.error(response.responseText);
      });
  });
</script>