<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script src="{% static 'webapp/js/jquery-3.6.0.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

  <title>Register</title>
</head>

<body>
  <div class="container pt-4 text-center" style="max-width: 320px;">
    {% if status == "True" %}
    <div class="alert alert-success">Registration completed, you may now <a href="/login">Login</a>.</div>
    {% else %}
    <div class="alert alert-danger">Complete registration <a href="/register">here</a>.</div>
    {% endif %}
  </div>

  {% include 'webapp/includes/messages.html' %}
</body>

</html>
