<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script src="{% static 'webapp/js/jquery-3.6.0.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

  <title>Register</title>
</head>

<body>
  <form id="register_biometrics_form">
    {% csrf_token %}
    <label for="password">Type the password chosen during registration</label>
    <input type="password" name="password">
    <input type="submit" id="submitBtn" class="btn btn-primary" value="Proceed">
  </form>

  {% include 'webapp/includes/messages.html' %}

  
  <div id="registration-result"></div>
</body>

</html>

<script type="module">
  import { createCredential } from "{% static 'webapp/js/modules/client.js' %}";

  if (window.PublicKeyCredential) {
    PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable()
      .then(uvpaa => {
        if (uvpaa) {
          console.log("biometric sensor available");
        } else {
          // TODO: show error to user
          console.log("biometric sensor not available");
        }
      });
  } else {
    console.log("webauthn not supported");
  }

  $(document).on("submit", "#register_biometrics_form", (e) => {
    e.preventDefault();
    const urlParams = new URLSearchParams(window.location.search);

    const $this = $(e.target)
    let post_data = $this.serialize();
    $.ajax({
      url: `{% url 'authenticator:register_request' %}?id=${urlParams.get('id')}`,
      type: "POST",
      processData: false,
      dataType: "json",
      data: post_data
    })
      .done(options => {
        createCredential(options)
          .then(credential => {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
              url: "{% url 'authenticator:register_response' %}",
              type: "POST",
              headers: {'X-CSRFToken': csrftoken},
              processData: false,
              data: "credential="+JSON.stringify(credential)
            })
              .then(response => {
                console.log("registration success");
                $('#register_biometrics_form').hide();
                $('#registration-result').append("<p>Registration successful, you may return to desktop.</p>");
              })
              .fail(response => {
                console.error(response);
              });
          });
      })
      .fail(response => {
        location.reload();
        console.error(response.responseText);
      });
  });
</script>